.bag-body {
    height:stretch;
}

.bag-form {
  margin: 20px;
  padding: 10px;
  border-color: lightgray;
  border: solid;
  border-width: 1px;
}

.bag-field {
    margin: 10px;
}

.bag-edit-contents {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  height: stretch;
  border: solid;
  border-color: orange;
  border-width: 10px;
}

.bag-food-box {
  height: 400px;
  margin: 20px;
  padding: 10px;
  border-color: blue;
  border: solid;
  border-width: 3px;
}

.bag-list {
  height: 200px;
  padding: 10px;
  border-color: lightgray;
  border: solid;
  border-width: 1px;
  border-radius: 10px;
}

.bag-list-item {
  height: 20px;
  margin: 10px;
/*  border-color: green;
  border: solid;
  border-width: 1px;
  border-radius: 10px;*/
}

.one {
  grid-column: 1;
  grid-row: 1;
  height: 200px;
  border: solid;
  border-color: pink;
  border-width: 10px;
  justify-items: stretch;
  align-items: end;
}
