.bag-layout {
    padding: 10px;
    border: 2px solid DeepSkyBlue;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 16px;
}

.bag-label {
    text-align: left;
}

.node-list {
    background-color:antiquewhite;
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 8px;

}

.selected-food  {
    padding: 5px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-gap: 8px;
}

.item2 {
    grid-column: 3 / span 3;
}


.submit-button {
    border-radius: 6px;
    border: 2px solid DeepSkyBlue;
}
